<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<title>KEY WORD EXTRACTION</title>
<style>

.container{
	
	position:absolute;
	height:100%;
	margin-left:3%;
	margin-top:10%;
	width:40%;
}
.containerOutput{
	position:absolute;
	height:100%;
	margin-left:50%;
	margin-top:10%;
	width:50%;	
}
h2{
	position:absolute;
	margin-left:22%;
}
</style>
</head>
<body>
<div class="row">
<h2>Contextual Information Extraction</h2>
</div>
<div class="container">
<div class="row valign-wrapper">
	<div class="col s12 m12 offset-s3 valign">
		<div class="card blue-grey darken-1">
			
			<div class="card-content white-text">
			<span class="card-title"></span>
			<div class="row">
   			<form class="col s12" action="/script" id="idForm" method="post">
      			<div class="row">
        		<div class="input-field col s12">
          		<textarea id="textarea1" class="materialize-textarea" name="error"></textarea>
          		<label for="textarea1">Enter Error Description</label>
        		</div>
      			</div>
    			<button class="btn waves-effect waves-light" type="submit" name="action">Extract
        		<i class="material-icons right"></i>
    			</button>
    		</form>
 			</div>
 			</div>
 		</div>
 	</div>
</div> 
<div class="row">
<button onclick="load1()" id="ex1" >Example 1</button>
<button onclick="load2()" id="ex1" >Example 2</button>
<button onclick="load3()" id="ex1" >Example 3</button>
<button onclick="load4()" id="ex1" >Example 4</button>
<button onclick="load5()" id="ex1" >Example 5</button>
</div>
</div>   
<div class="containerOutput">
<div class="row valign-wrapper">
	<div class="col s12 m12 offset-s3 valign" style="overflow:scroll; height:400px;">
		<div class="card large blue-grey darken-1">
			
			<div class="card-content scrollable white-text">
			<span class="card-title"></span>
			<div class="row">
   			
      			<div class="row">
        		<div class="input-field col s12">
          		<textarea id="textarea2" class="materialize-textarea" name="keyInfo"></textarea>
          		<label for="textarea1">Extracted Information</label>
        		</div>
      			</div>
    		</div>
 			</div>
 		</div>
 	</div>
</div> 

</div> 

</body>
<script>
function load1()
{$('#textarea1').html("currently the default license is empty our terms of use say that unless otherwise specified the license is cc  ALPHANUM  it would probably be better to set this explicitly by default");

}
function load2()
{$('#textarea1').html("if the jack server is restarted while matchmaker is running stdout is flooded with jackclientsocketread time out messages it could try to reconnect to the new jack server");

}
function load3()
{$('#textarea1').html("getting this error on a fresh install when using the selectfield assertion failed you modified options twice on  in a single render it was rendered in componentonewayselect and modified in componentonewayselect  this was unreliable and slow in ember 1x and is no longer supported ember  ALPHANUM  emberformfor  ALPHANUM ");

}
function load4()
{$('#textarea1').html("build a skeleton android apk branded with the artemis logo that when launched contains the following menu items select game  when tapped a message should pop up stating coming soon select codes  since select game is not yet functional this should be grayed out or otherwise indicated to be disabled and should not respond to tap start hacking  when tapped a message should pop up stating coming soon options  when tapped a message should pop up stating coming soon about  when tapped a message should pop up stating artemis for android a collaborative opensource video game cheat code generation game hacking system visit  URL  for more information");

}
function load5()
{$('#textarea1').html("hello i am trying to simulate a hover on the clickable areas of the website so that the user knows what can be clicked i camed up with this function  var blink   mapifypolygon  setinterval function  blinktoggleclass mapifyhover    ALPHANUM    it seems to work well and add the class as intended if i use it on the area but if i use it on the polygon where the hover class needs to be activated it doesnt work anymore how can this be achieved am i targeting the wrong class also is there any that i could simulate the hover effect only or certain areas or maybe set a delay to the blinking like an area would highlight first after  NUMBER  seconds the next and so on  ALPHANUM  pause if theres no action on the website and then it starts again the website address is httpssporedevpleiade thank you");

}
$("#idForm").submit(function(e) {

    var url = "/script"; 

    $.ajax({
           type: "POST",
           url: url,
           data: $("#idForm").serialize(), 
           success: function(data)
           {
               console.log(data);
               $('#textarea2').html(data);
           }
         });

    e.preventDefault();});
</script>

</html>