<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.js"></script>
<title>KEY WORD EXTRACTION</title>
<style>

.container{
	
	position:absolute;
	height:100%;
	margin-left:3%;
	margin-top:10%;
	width:40%;
}
.containerOutput{
	position:absolute;
	height:100%;
	margin-left:50%;
	margin-top:10%;
	width:50%;	
}
#textarea2 {
    overflow-y: scroll;
    
     height: 400px;
    max-height: 400px;
    resize: none;
}
h2{
	position:absolute;
	margin-left:22%;
}
</style>
</head>
<body>
<div class="row">
<h2>Contextual Information Extraction</h2>
</div>
<div class="container">
<div class="row valign-wrapper">
	<div class="col s12 m12 offset-s3 valign">
		<div class="card blue-grey darken-1">
			
			<div class="card-content white-text">
			<span class="card-title"></span>
			<div class="row">
   			<form class="col s12" action="/script" id="idForm" method="post">
      			<div class="row">
        		<div class="input-field col s12">
          		<textarea id="textarea1" class="materialize-textarea" name="error"></textarea>
          		<label for="textarea1">Enter Error Description</label>
        		</div>
      			</div>
    			<button class="btn waves-effect waves-light" type="submit" name="action">Extract
        		<i class="material-icons right"></i>
    			</button>
    		</form>
 			</div>
 			</div>
 		</div>
 	</div>
</div> 
<div class="row">
<button onclick="load1()" id="ex1" >Example 1</button>
<button onclick="load2()" id="ex1" >Example 2</button>
<button onclick="load3()" id="ex1" >Example 3</button>
<button onclick="load4()" id="ex1" >Example 4</button>
<button onclick="load5()" id="ex1" >Example 5</button>
</div>
<div class="row">
<div id="keys" class="col s12 m12 ">

</div>
</div>
</div>   
<div class="containerOutput">
<div class="row valign-wrapper">

  <div class="col s12 m12 offset-s3 valign">
    <div class="card large blue-grey darken-1 ">
      
      <div class="card-content white-text">
      <span class="card-title"></span>
      <div class="row">
        
            <div class="row">
            <div class="input-field col s12 ">
              <textarea id="textarea2" class="materialize-textarea" name="keyInfo"></textarea>
              <label for="textarea1">Extracted Information</label>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div> 

</div> 

</body>
<script>
function load1()
{$('#textarea1').html("i have interest from cern about sayma board. they want to use it as general purpose amc carrier with plenty of q sfp channels. so the idea is to build rtm with sfp cages. initial plan is to use 4x sfp + 3x qsfp to utilise all 16 gigabit channels. there are easily available qsfp to sfp+ copper cables ideal for low distance connections. 4 sfp cages let us use low cost wdm transceivers for drtio longer distance connections. so the question is - would such board be attractive for artiq users? exisitin project of 8 channel rtm sfp carrier could be adopted easily.");

}
function load2()
{$('#textarea1').html("expected behavior basic examples should work as specified. i don't know whether it's because robotjs or pm2 issue. current behavior by running robotjs under pm2 looks fine no errors but the examples don't performe as expected. as an example, trying to log getmousepos under pm2 gives { x: 0, y: 0 } no matter the real mouse position running the same with node works as expected . steps to reproduce for bugs just run the official given example under pm2 start index.js instead using node. your environment robotjs version: 0.4.5 node.js version: 4.1.0 npm version: 2.14.3 operating system: mac os x 10.10.5");

}
function load3()
{$('#textarea1').html("i connect via ssh to my server. if i start mc midnightcommander , i'm able to use the right-mouse-bottom to mark files. in pac, right-mouse button open contextmenu for pac. how can i change this behavior to have right-click at ssh? ");

}
function load4()
{$('#textarea1').html("i´ve installed the server, made all the important settings, then clicked on start server and nothing happens. i had csgosl running before, then after a reset at my server i reinstalled it today and i cant figure out where the problem is. i´ve also checked the wiki but no indication what i might have missed.");

}
function load5()
{$('#textarea1').html("as an admin, i would like to select the time period for which to view the statistics acceptance criteria verify that admin will select the date from which to generate the report verify that admin will select the date till which the report is to be generated verify that the end date is after the start date verify that the end date cannot be from a time in the future verify that the from date is from the time the app has been active verify that selecting a time period is mandatory");

}
$("#idForm").submit(function(e) {

    var url = "/script"; 

    $.ajax({
           type: "POST",
           url: url,
           data: $("#idForm").serialize(), 
           success: function(data)
           {   var words=data.split("\n");

               
               console.log(words[0].split(" ")[0]);
              // var keys =   [words[0].split(" ")[0] , words[1].split(" ")[0] , words[2].split(" ")[0]];     
               var highlight=[];
               var desc=$("#textarea1").val().split(" ");
               console.log(desc[0]);
               for(var k=0;k<8;k++)
               {for(var j=0;j<3;j++)
                highlight.push(words[k].split(" ")[j]);
                

               
                   }
               
                

           
               $('#textarea2').html(data);
               $('#keys').html(data);
                    var instance = new Mark(document.querySelector("#keys"));
                instance.mark(highlight  , {
                            accuracy:"exactly",
                            style: "background-color:red;color:#fff;",
                            separateWordSearch:true
                                      });

           }
         });

    e.preventDefault();});
</script>

</html>